.navigation {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: var(--mg-side) 0 2.325rem var(--mg-side);

    .logo-container {
        height: 100%;
        width: 80px;

        .logo {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }

    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: var(--mg-side);

        .nav-link {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}