.authentication-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 30px auto;
}

@media (max-width:768px) {
    .authentication-container {
        flex-direction: column;
        align-items: center;
    }

    .sign-up-container form .button-container {
        grid-row: 3 !important;
        align-items: center;
    }
}