:root {
    --primary-color: #555555;

    --mg-nav: .625rem;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 1.25rem 2.5rem;
}

a {
    text-decoration: none;
}